body {
    font-family: "Delius Swash Caps", serif;
    background-color: #fcd1c6;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    height: 100vh;
}

.efecto_granulado {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.2;
}

/*diseño de los emojis*/

.contenedor_emojis{
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        pointer-events: none;
    }

.emoji {
    position: absolute;
    font-size: 3rem;
    animation: caida linear infinite;
}

@keyframes caida {
    0% {
        transform: translateY(-1300%) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}

/*diseño de los gifs*/

.contenedor_gifs {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    pointer-events: none;
}

#gif-1{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 30vw;
    top: 10vh;
    opacity: 0;
    animation: rotar 10s linear infinite 5s;
}

#gif-2{
    position: absolute;
    width: 200px;
    height: 150px;
    left: 80vw;
    top: 50vh;
    opacity: 0;
    animation: rotar 10s linear infinite 9s;
}

#gif-3{
    position: absolute;
    width: 150px;
    height: 150px;
    right: 85vw;
    bottom: 5vh;
    opacity: 0;
    animation: rotar 10s linear infinite 11s;
}

#gif-4{
    position: absolute;
    width: 180px;
    height: 170px;
    bottom: 40vh;
    left: 20vh;
    opacity: 0;
    animation: rotar 10s linear infinite 7s;
}

#gif-5{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 2vw;
    left: 10vh;
    opacity: 0;
    animation: rotar 10s linear infinite 1s;
}

#gif-6{
    position: absolute;
    width: 150px;
    height: 150px;
    right: 10vh;
    opacity: 0;
    animation: rotar 10s linear infinite 4s;

}

#gif-7{
    position: absolute;
    width: 200px;
    height: 180px;
    right: 45vw;
    top: 74vh;
    opacity: 0;
    animation: rotar 10s linear infinite 3s;
}

#gif-8{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 60vw;
    top: 5vh;
    opacity: 0;
    animation: rotar 10s linear infinite 1s;
}


@keyframes rotar {
    0%{
        
    }
    50%{
        transform: rotate(180deg);
        opacity: 1;
    }
    100%{
        transform: rotate(360deg);
        opacity: 0;
    }
}

/*diseño de la carta*/

.estructura_carta{
    position: relative;
    width: 300px;
    height: 200px;
    transition: width .3s ease, height .3s ease;
    animation: invisible 8s ease;
    transition: transform 1.0s;
}

@keyframes invisible{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}

.estructura_carta:hover{
    transform: scale(1.15);
}

.frente_carta, .posterior_carta{
    width: 100%;
    height: 100%;
    border: 3px solid black;
    position: absolute; 
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: transform 0.6s;
}

.frente_carta{
    font-size: 40px;
}

.pregunta{
    margin-top: 0px;
    margin-bottom: 20px;
}

.teamo{
    font-weight: bold;
}

.posterior_carta{
    cursor: pointer;
    font-size: 30px;
    text-align: justify;
}

.posterior_carta{
    transform: rotateY(180deg) ;
}

.estructura_carta.volteada{
    width: 650px;
    height: 480px;
}

.estructura_carta.volteada .frente_carta{
    transform: rotateY(180deg);
}

.estructura_carta.volteada .posterior_carta{
    transform: rotateY(0deg);
}

/*diseño de los botones*/

.estructura_botones{
    width: 100%;
}

button{
    font-family: "Delius Swash Caps", serif;
    padding: 10px 20px;
    margin: 5px;
    border: 2.5px black solid;
    border-radius: 5px;
    background: pink;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.5s, transform 0.5s;
}

#btnSi{
    margin-right: 5rem;
    width: 80px;
}

#btnNo{
    width: 80px;
}

button:hover{
    background-color: #ff86c2;
    transform: scale(1.15);
}

/*diseño de la bromitajeje*/

.chascarrillo{
    position: fixed;
    bottom: 20px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 3px 8px 3px 8px;
    border-radius: 10px;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
    visibility: hidden;
}

.chascarrillo.mostrar {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}
